/* @tailwind base; base is already applied in gestiono so it's not needed to be applied twice or it will rewrite some gestiono changes */
@tailwind components;
@tailwind utilities;

/* Hide library's default modal close button to avoid React 18 startTransition issue */
.hide-modal-close > div > button:first-child {
    display: none !important;
}